@import url('https://fonts.googleapis.com/css2?family=Rancho&display=swap');
@import "tailwindcss";
@plugin "daisyui";

.active{
background-color: rgb(227, 181, 119);
color: #ffffff;
border: 1px solid black;
}

.rancho-regular{
  font-family: "Rancho", cursive;
  font-weight: 400;
  font-style: normal;
}
.FaEye{
  background-color: rgb(210, 180, 140);
  color: white;
}

.nav{
  background-color: rgb(55, 39, 39);
}